<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/login}" method="POST">
        <input type="text" name="username" th:placeholder="username">
        <input type="text" name="pass" th:placeholder="pass">
        <input type="submit" value="Login" th:text="Login">

    </form>
</body>
</html>