<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/register}" th:object="${usuario}" method="POST">
    <input type="text" th:field="*{nombre}" placeholder="nombre">
    <input type="text" th:field="*{apellido}" placeholder="apellido">
    <input type="text" th:field="*{username}" placeholder="usuario">
    <input type="text" th:field="*{pass}" placeholder="contraseña">
    <input type="submit" value="Register User" >
    <span th:utext="${successMessage}"></span>



</form>
</body>
</html>